<footer>

  <div class="footer-logos">
    <img src="assets/logo_psl.svg" alt="PSL">
    <img src="assets/logo_espci.svg" alt="ESPCI">
    <img src="assets/logo_ipgg.png" alt="IPGG">
  </div>

  <span class="footer-logo">IECP</span>
  <span><strong>I</strong>nnovative <strong>E</strong>lectro-<strong>C</strong>hemistry <strong>P</strong>latform</span>

  <div class="footer-links">
    <a href="index.html">Home</a>
    <a href="activities.html">Activities</a>
    <a href="equipment.html">Equipment</a>
    <a href="events.html">Events</a>
    <a href="about.html">About</a>
  </div>
</footer>
